

    <div class="footer-padding">
      <div class="footer">
        <p>Copyright ⓒ <%= year %></p>
      </div> <!-- footer -->
    </div> <!-- footer-padding -->
  </div> <!-- pageContainer -->
</div> <!-- root -->
</body>
</html>
