<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cameron Grondines</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/queries.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

<div class="my-navbar">
  <button class="collapse-button" type="button" name="button"><i class="fas fa-bars"></i></button>
  <a class="home-nav" href="/">CAMERON GRONDINES</a>
  <div class="collapsible">
    <ul id="main-navigation" class="my-navbar-nav hide-menu">
      <!-- <li class="home-nav nav-item">  </li> -->
      <li class="my-nav-item" id="home"><a href="/portfolio">PORTFOLIO</a></li>
      <li class="my-nav-item" id="about"><a href="/about">ABOUT</a></li>
    </ul>
  </div>

</div>


  <body>
    <div class="root" id="root">
      <div class="page-container" id="pageContainer">
