<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cameron Grondines</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand"><a href="/">CAMERON GRONDINES</a></p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/portfolio">PORTFOLIO</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
        </ul>
    </div>
  </nav> -->
<div class="my-navbar">
  <ul>
    <li class="home-nav"> <a href="/">CAMERON GRONDINES</a> </li>
    <li id="home"><a href="/portfolio">PORTFOLIO</a></li>
    <li id="about"><a href="/about">ABOUT</a></li>
  </ul>
</div>


  <body>
    <div class="root" id="root">
      <div class="page-container" id="pageContainer">
