<%- include("partials/header"); -%>
<h1 class="page-title">About Me</h1>

<p class='about-me-text'>I grew up in Birmingham Alabama and graduated from Furman
  University. While working towards my applied mathematics degree I took several
  computer science courses which introduced me to programing and I fell in love with
  it. I love building things and the satisfaction that comes from solving a difficult
  problem. </p>

<%- include("partials/footer"); -%>
