<%- include("partials/header"); -%>
<script
      src="https://kit.fontawesome.com/b962e2a208.js"
      crossorigin="anonymous"
    ></script>
<div class="content-container" id="contentContainer">
  <div class="home-page-text">
    <p>
      Hi, <br>
      I'm a software engineer.<br>
      I make apps and websites.<br>
      Check out some of the <a>things I've made,</a> or find me around the web. <br>
      <a href="https://www.linkedin.com/in/cameron-grondines-443835146/"><i class="fab fa-linkedin"></i></a> <a href="https://github.com/cgrondi"><i class="fab fa-github-square"></i></a>
    </p>
  </div>
</div>


<%- include("partials/footer"); -%>
