<%- include("partials/header"); -%>
<div id="contentContainer">
  <div class="homePageText">
    <p>Hi, <br>
    I'm a software engineer.<br>
    I make apps and websites.<br>
    Check out some of the <a>things I've made,</a> or find me around the web.</p>
  </div>
</div>


<%- include("partials/footer"); -%>
