
body{
  background-color: #1D1F20;
  color: white;

  font-family: 'Raleway';
}

/******  Reuseables  ******/
.page-title{
  margin-left: 28%;
  margin-bottom: 5%;
}

/*****  My navbar  *****/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.my-navbar{
  display: inline-block;
  width: 100%;
}
.home-nav{
  font-size: 1.3em;
  margin-right: 21%;
  margin-left: 23%
}

/*****  header and footer  ******/
.page-container{
  flex:1;
  display: flex;
  flex-direction: column;
}
.footer-padding{
  margin: 20px 0 10px 0;
  align-self: center;
}



/*****  index.ejs  *****/
.root{
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.content-container{
  flex:2;
}


.home-page-text p{
  position: absolute;
  font-size: 2em;
  line-height: 2;
  left: 30%;
  width: 40%;
  margin-top: 2%;
}
.home-page-text a{
  text-decoration: none;
  cursor: pointer;
}

/*****  portfolio.ejs  *****/
.project{
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2%;
}
.project img{
  width: 90%;
  height: 65%
}
.project-links a{
  padding-right: 2%;
}


/*****  gradient border  ******/
#border-box{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.gradient-border {

  background: #1D1F20;
  position: relative;
  border-radius: 2px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * 2px);
  left: calc(-1 * 2px);
  height: calc(100% + 2px * 2);
  width: calc(100% + 2px * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * 2px);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
