
#root{
  display: flex;
  flex: 1;
  min-height: 100vh;
}
#pageContainer{
  flex:1;
  display: flex;
  flex-direction: column;
}
#contentContainer{
  flex:2;
}
.footer-padding{
  margin: 20px 0 10px 0;
  align-self: center;
}



/* .footer{
  position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  align-self: flex-end;
} */

.homePageText p{
  position: absolute;
  font-size: 2em;
  line-height: 2;
  left: 30%;
  width: 40%;
  margin-top: 2%;
}
.homePageText a{
  text-decoration: none;
  cursor: pointer;
}
