
body{
  background-color: #1D1F20;
  color: white;
}
.navbar{
  background-color: #1D1F20;
  border: none;
}

/*****  index.ejs  *****/
.root{
  display: flex;
  flex: 1;
  min-height: 100vh;
}
.pageContainer{
  flex:1;
  display: flex;
  flex-direction: column;
}
.contentContainer{
  flex:2;
}
.footer-padding{
  margin: 20px 0 10px 0;
  align-self: center;
}

.homePageText p{
  position: absolute;
  font-size: 2em;
  line-height: 2;
  left: 30%;
  width: 40%;
  margin-top: 2%;
}
.homePageText a{
  text-decoration: none;
  cursor: pointer;
}

/*****  portfolio.ejs  *****/
.project{
  width: 30%;
  margin-right: auto;
  margin-left: auto;
font-family: 'Raleway';
  padding-bottom: 2%;
}
#borderBox{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.project img{
  width: 90%;
  height: 65%
}


.gradient-border {

  background: #1D1F20;
  position: relative;
  border-radius: 2px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * 2px);
  left: calc(-1 * 2px);
  height: calc(100% + 2px * 2);
  width: calc(100% + 2px * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * 2px);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
